<IfModule mod_rewrite.c>
    RewriteEngine On

    # Passer le header Authorization à PHP
    # Enfin g galeré avec se ptn de JWT ça m'a pris la journee
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^ index.php [QSA,L]
</IfModule>
